---
import type { CollectionEntry } from 'astro:content';
import SectionHeading from '../SectionHeading.astro';
import ProjectCard from '../ui/ProjectCard.astro';

interface Props {
    projects: CollectionEntry<'projects'>[];
}

const { projects } = Astro.props;
---

<section id="projects">
    <SectionHeading title="Projects" />

    <div>
        {projects.map((project, index) => (
            <ProjectCard project={project} index={index} />
        ))}
    </div>
</section>

<style>
    section > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    @media (max-width: 768px) {
        section > div {
            grid-template-columns: 1fr;
        }
    }
</style>
