---
import { setPageLocale } from '../i18n/setLocale';
setPageLocale(Astro);

import Layout from '../layouts/layout.astro';
import { getCollection } from 'astro:content';
import { m } from '../paraglide/messages.js';

import HeroSection from '../components/sections/HeroSection.astro';
import SkillsSection from '../components/sections/SkillsSection.astro';
import TimelineSection from '../components/sections/TimelineSection.astro';
import ProjectsSection from '../components/sections/ProjectsSection.astro';
import CoursesSection from '../components/sections/CoursesSection.astro';

const projects = (await getCollection('projects')).sort(
    (a, b) => b.data.year - a.data.year
);

const courses = (await getCollection('courses')).sort(
    (a, b) => b.data.year - a.data.year
);

const timeline = (await getCollection('timeline')).sort(
    (a, b) => a.data.order - b.data.order
);
---

<Layout title={m.home_meta_title()}>
    <HeroSection />

    <main>
        <SkillsSection />
        <TimelineSection entries={timeline} />
        <ProjectsSection projects={projects} />
        <CoursesSection courses={courses} />
    </main>
</Layout>